{% extends 'dancefaces/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="site-width">
        <h2>{{album.title}}</h2>
</div>
<form method="POST">
{% csrf_token %}
{{form.management_form}}
<div class="site-width">
    {% for picture in form %}
    <div class="preview-sm">
        {{picture.thumbnail}}
        {{picture.id.as_hidden}}
        <div style="float: left;">
            {{picture.is_starred}}
            <label for="{{picture.is_starred.id_for_label}}">
               <img src="{% static 'img/star.svg' %}" class="icon" />
            </label>
        </div>
        <div style="float: right;">
            {{picture.to_delete}}
            <label for="{{picture.to_delete.id_for_label}}">
                <img src="{% static 'img/delete.svg' %}" class="icon" />
            </label>
        </div>
    </div>
    {% endfor %}
</div>
<div class="site-width">
    <input type="submit"/>
</div>
</form>
{% endblock %}