{% extends 'dancefaces/base.html' %}
{% block content %}
<div class="site-width">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="file" name="pictures" multiple>
            <button type="submit">Save</button>
        </form>
</div>
{% endblock %}