{% extends 'dancefaces/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="site-width">
    <h2>
        {{album.title}}
        {% if user.is_authenticated %}
        <a href="{% url 'album_edit' id=album.id %}">
            <img class="icon" src="{% static 'img/edit.svg' %}"/>
        {% endif %}
    </h2>
</div>
<div class="site-width gallery">
    {% for picture in pictures %}
        <div class="preview-sm">
            <a class="gallery-toggle" href="/files/{{picture.file}}" target="_blank"><img src="/files/{{picture.thumbnail}}"/></a>
        </div>
    {% endfor %}
</div>
<div id="gallery" style="display: none;">
        <div id="gallery-lightbox">
            <img id="gallery-display" />
        </div>
    </div>
</div>
{% endblock %}