{% extends 'dancefaces/base.html' %}
{% block content %}
<div class="site-width gallery">
{% for album in albums %}
        <div class="preview-sm previewcontainer">
            <a href="{% url 'album_details' id=album.id %}">
                <img src="/files/{{album.preview.thumbnail}}" class="image-grid">
                <div class="info"><h3>{{album.title}}</h3></div>
            </a>
        </div>
{% endfor %}
</div>
{% endblock %}