{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/style_warm.css' %}" />
  <title>dancefaces</title>
</head>
<body>
  <header class="nav-down" id="header">
    <a class="header" href="{% url 'home' %}"><h1>dancefaces</h1></a>
    <div class="navbar site-width">
        <a class="nav" href="{% url 'contact' %}">Contact</a>
        <a class="nav" href="{% url 'albums' %}">Albums</a>
        <a class="nav" href="{% url 'share' %}">Share</a>
    </div>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
      <div class="site-width">
        {% if user.is_authenticated %}
        <a href="{% url 'album_new' %}"><img src="{% static 'img/add.svg' %}" class="icon" /></a>
        <a href="{% url 'logout' %}"><img src="{% static 'img/logout.svg' %}" class="icon"/></a>
        {% else %}
        <a href="{% url 'login' %}"><img src="{% static 'img/login.svg' %}" class="icon"/></a>
        {% endif %}
    </div>
  </footer>
  <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
