{% extends 'dancefaces/base.html' %} {% load staticfiles %} {% block content %}
<div class="site-width">
        <h2>Contact</h2>
</div>
<div class="site-width">
    <div class="contact-text">
        <img src="{% static 'img/contact.png' %}">
        <p>
            Hi! If you want to get in touch about anything on this site, feel free to talk to me in person (if you're looking at this
            chances are you know me) or use the form on the right. You can also leave the message field blank and just check
            "Subscribe" in order to receive an email update whenever I upload a new album.
        </p>
        <p>
            <b>If you see a picture of yourself on here that you'd rather not have online, please contact me - I'm happy to
                remove it!
            </b>
        </p>
    </div>
    <div class="contact-form">
        <form method="POST" action="{% url 'contact' %}">
            {% csrf_token %}
            <div class="form-wrapper">
                {{form.name.label_tag}} {{form.name}}
            </div>
            <div class="form-wrapper">
                {{form.email.label_tag}} {{form.email}}
            </div>
            <div class="form-wrapper">
                {{form.message}}
            </div>
            <div class="form-wrapper">
                {{form.subscribe}}
                <label for="{{form.subscribe.id_for_label}}">
                    Receive email updates
                </label>
            </div>
            <div class="form-wrapper">
                <input type="submit" value="send" />
            </div>
        </form>
    </div>
</div>
{% endblock %}