{% extends 'dancefaces/base.html' %}
{% block content %}
<div class="site-width gallery">
    {% for picture in featured %}
    <div class="preview-md">
        <img class="image-grid" src="/files/{{picture.thumbnail}}">
    </div>
    {% endfor %}
</div>
{% endblock %}