{% extends 'dancefaces/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>{{heading}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            {{message}}
        </p>
    </div>
</div>
{% endblock %}