{% extends 'dancefaces/base.html' %} {% block content %}
<div class="site-width">
        <h2>Share</h2>
</div>
<div class="site-width">
        <p>You like my pictures? Awesome! You want to show them to others? Cool! 
        Please be fair and give credit.</p>
</div>
<div class="site-width share-wrapper">
    <div class="share-column">
        <h3>Social media</h3>
        <p>Want to use a photo of yourself as a profile picture? Or just share it 
            so all your friends can see how much fun this swing dancing thing is?</p>
        <p>You can give credit either by tagging me (Dorothea Hoff) in the picture itself or a comment,
            or you can link to this website. Note that even if you use one of the pictures I post 
            directly on facebook, if you set it as your profile picture it will not connect back to my original
            post so please add a comment.
        </p>
        <h3>Online - others</h3>
        <p>Add a link to this site somewhere in the vicinity of the image.</p>
        <p>Example: <a href="{% url 'home' %}">photo credit: Dorothea Hoff</a></p>
    </div>
    <div class="share-column">
        <h3>Offline - personal</h3>
        <p>Are you giving your family members a photo book of you because they don't remember what you 
            look like with all of the traveling to dance events? Making a present for a friend?
        </p>
        <p>Go ahead! If anyone asks who took those amazing pictures, refer 
            them to this site and say thanks from me.</p>
        <h3>Offline - commercial</h3>
        <p>Please <a href="{% url 'contact' %}">contact me</a>. Keep in mind that for commercial use you
        also need to obtain permission from the people in the picture.</p>
    </div>
    <div class="share-column">
        <h3>Other</h3>
        <p>You probably guessed it... <a href="{% url 'contact' %}">contact me</a>.</p>
    </div>
</div>
{% endblock %}