{% extends 'dancefaces/base.html' %}
{% block content %}
<div class="site-width">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-wrapper">
            {{form.username}}
        </div>
        <div class="form-wrapper">
            {{form.password}}
        </div>
        <div class="form-wrapper">
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
</div>
{% endblock %}