@import url('https://fonts.googleapis.com/css?family=Anton|Assistant:200');
@font-face {
  font-family: 'Comic Neue';
  src: url('../fonts/ComicNeue-Light.eot');
  src: url('../fonts/ComicNeue-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ComicNeue-Light.woff2') format('woff2'),
       url('../fonts/ComicNeue-Light.woff') format('woff'),
       url('../fonts/ComicNeue-Light.ttf')  format('truetype');
  font-weight: 300;
}

body {
  background-color: #efede9;
  color: rgba(0,0,0,0.75);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  height: 200px;
  background-color:#efede9;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.15s ease-in;
}

main {
  margin-top: 200px;
}

.nav-up {
  transform: translateY(-200px);
}

.site-width {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .site-width {
    max-width: 45rem;
  }
}

h1 {
  font-family: Comic Neue, Assistant;
  color: #dac71c;
  letter-spacing: 15px;
  text-align: center;
  padding: 40px;
}
 h2, h3, h4, h5, h6 {
   font-family: Anton;
   letter-spacing: 5px;
   text-align: center;
 }

div.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 40px;
}

a {
  text-decoration: none;
}

a.nav {
  font-family: Anton;
  text-transform: uppercase;
  color: black;
  color: rgba(0,0,0,0.75);
}

a.nav:hover {
  border-bottom: 5px solid #dac71c;
}

a.header {
  color: unset;
}

img {
  width: 100%;
  height: 100%;
}

img.icon {
  width: 1rem;
  height: 1rem;
}

.previewcontainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.previewcontainer .info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  background: linear-gradient(#eae164ff, #eae16400);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.preview-md {
  flex-basis: calc(50% - 0.5rem);
  flex-grow: 0;
  margin-bottom: 1rem;
}

.preview-sm {
  flex-basis: calc(33% - 0.5rem);
  flex-grow: 0;
  margin-bottom: 1rem;
}

@media 
only screen and (max-device-width: 450px), (max-width: 450px) {
  .preview-md, .preview-sm {
    flex-basis: 100%;
    flex-grow: 1;
    margin-right: 0;
  }.flex-row {
    display: flex;
  }
}

.contact-text {
  width: calc(40% - 2rem);
  margin-right: 2rem;
  float: left;
}

.contact-form {
  width: 60%;
  float: right;
}

.form-wrapper {
  width: 100%;
  margin-bottom: 0.5rem;
}

.share-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.share-column {
  flex-basis: 33%;
  margin-right: 1rem;
}

.share-column:nth-child(3) {
  margin-right: -1rem;
}

footer {
  position: absolute;
  height: 40px;
  width: 100%;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer a {
  color:#000;
  color: rgba(0,0,0,0.75);
}

#gallery {
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

#gallery-lightbox {
  margin: auto;
  background-color: white;
  border: 5px solid white;
  border-radius: 5px;
  max-width: 45rem;
}